.chat-messages {
  /* flex-grow: 1; */
  border-radius: 10px;
  color: white;

}

/* Sender */
/* Chat Messages Container */
.chat-messages-container {
  display: flex;
  flex-direction: column; /* Make the container a column */
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align content to the top */
  padding-right: 15px !important;
  justify-content: flex-end;
  /* overflow-y: auto; */
}


/* Sender */
.sender {
  background-color: #25d366;
  color: black;
  border-radius: 10px;
  padding: 5px 15px; 
  display: inline-block;
  margin-bottom: 5px ;
  /* margin-left: 730px; */
  margin-left: auto;
}

/* Receiver */
.receiver { 
  background-color: rgb(122, 204, 241);
  color: #000;
  border-radius: 10px;
  padding: 5px 15px; /* Adjust padding as needed */
  display: inline-block;
  margin: 5px 0;
}

.avatar-circle {
  width: 50px; 
  height: 50px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #020202; 
}

.avatar-initial {
  color: white; 
  font-size: 22px; 
  font-weight: bold;
  margin-top: 15px;
}

/* CSS Styles for Chat Header */
.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  background-color: #a8c9ec;
  color: #fff;
  margin-bottom: 15px;
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

.chat-header-avatar {
  width: 40px;
  height: 40px;
  background-color: #fff; 
  border-radius: 50%;
  margin-right: 10px;
}

.chat-header-info h2 {
  margin: 0;
  font-size: 25px;
  margin-left: 20px;
  color: black ;
  font-weight: bold;
}



/* CSS for message content */
.message-content {
  margin-bottom: 5px; 
  font-size: 20px; 
}

/* CSS for message timestamp */
.message-timestamp {
  font-size: 12px; 
  color: black; 
  font-weight: bold;
  text-align: end;
  margin-bottom: 1px;
}

/* CSS for the editing dialog box */
.editing-dialog {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px; /* Rounded corners for the dialog box */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Style for the textarea in the editing dialog */
.editing-dialog textarea {
  resize: vertical;
  min-height: 78px;
  border: 1px solid #dabebe;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px; /* Rounded corners for the textarea */
  border-radius: 3px;
  font-size: 16px; /* Adjust the font size as needed */
}

/* Style for the buttons in the editing dialog */

.save-button{
  background-color: blue;
}

.message-meta {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.edit-button {
  margin-right: 10px; 
}


.button-container {
  display: flex;
  justify-content: space-between; /* Space buttons evenly */
  margin-top: 10px; /* Add margin for separation from textarea */
}
