
.margin-class{
    margin-left: 30px;
    /* background-color: black; */
}

.container-fluid{
    background-color: black;
}
.nav-link{
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.navbar-brand{
    color: white;
}

.custom-navbar{
    background-color: black;
    margin-top: 0px !important;
}

.logout-button{
    color: white;
}
.navbar-text{
    color: white;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}