<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Application</title>
  </head>
  <body>
   
        <div class="img"></div>
        <div class="center">
          <div class="title">Connect. Chat. Share. Discover.</div>
          <div class="sub_title">Connect with us!</div>
          <div class="btns">
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Register</button></a>
          </div>
        </div>
  </body>
</html>
