<div class="chat-container">
  <div class="user-list">
    <h2>User List</h2>
   
    <ul class="user-list-items">
      <li class="user-item" *ngFor="let user of userList" (click)="startChat(user)">
        <div class="avatar-circle">
          <p class="avatar-initial">{{ user.firstName.charAt(0) | titlecase  }}</p>
        </div>
        <div class="user-info">
          <p class="user-name">{{ user.firstName | titlecase  }}</p>
          <!-- Add other user details here if needed -->
        </div>
      </li>
    </ul>
   
  </div>

  <div class="chat-with-user">
    <div  class="chat-messages" #ConversationHistory [scrollTop]="0"
    style="overflow-y: scroll;" (scroll)="onScroll($event)" >
      <chat-with-user [conversationHistory]="wholeConversation"  [receiverName]="receiverName"></chat-with-user>
    </div>

    <div class="chat-input">
      <form [formGroup]="sendMessageForm" (ngSubmit)="onSubmit()" style="display: flex;">
        <input type="text" class="sendMessage-input" placeholder="Type your message..." name="message" formControlName="messageText" required style="flex: 1;" />
        <button  class="send-button"  type="submit" style="align-self: flex-end;">Send</button>
      </form>
    </div>
    <small *ngIf="sendMessageForm?.get('messageText')?.hasError('required') && sendMessageForm?.get('messageText')?.touched" style="color: red;">
      *Message is required
    </small>

  </div>
  
</div>  
